#terminal {
  width: 80%;
  height: 90%;
  position: fixed;
  right: 2%;
  top: 2%;
  bottom: 0;
  overflow: auto;
  background-color: #333;
  background-image: radial-gradient(
  rgba(0, 150, 0, 0.75), #333 120%
  );
  color: #fff;
  font-family: monospace;
  color: #fff;
  font: Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  
}

#output {
  height: 90%;
  width: 100%;
  overflow-y: hidden;
}

#input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 10%;
  width: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}

#terminal-output {
  height: 100%;
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding-top: 10px;
  top: 5%;
}

#terminal-input {
  display: flex;
  align-items: center;
  width: 100%;
}

#command-line {
  width: 80%;
  padding: 5px;
  font-family: monospace;
  font-size: 14px;
  border: transparent;
  outline: transparent;
  background-color: transparent;
  color: #fff;

}

#submit {
  
}