<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ghost Hunter - Terminal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style2.css') }}">
  </head>
  <body>
    <script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
    <main>
      <div class="terminal-window">
        <div class="terminal-header">
            <p class="header-text">Ghost Hunter Terminal</p>
            <div class="header-icons">
            <div class="red-circle"></div>
            <div class="green-circle"></div>
            <div class="orange-circle"></div>
            </div>
            <div class="terminal-body">
                <div class="image-section">
                  <img src="" alt="">
                </div>
                <div class="asciiArt">
                  <p>
  /$$$$$$  /$$   /$$  /$$$$$$   /$$$$$$  /$$$$$$$$       /$$   /$$ /$$   /$$ /$$   /$$ /$$$$$$$$
 /$$__  $$| $$  | $$ /$$__  $$ /$$__  $$|__  $$__/      | $$  | $$| $$  | $$| $$$ | $$|__  $$__/
| $$  \__/| $$  | $$| $$  \ $$| $$  \__/   | $$         | $$  | $$| $$  | $$| $$$$| $$   | $$   
| $$ /$$$$| $$$$$$$$| $$  | $$|  $$$$$$    | $$         | $$$$$$$$| $$  | $$| $$ $$ $$   | $$   
| $$|_  $$| $$__  $$| $$  | $$ \____  $$   | $$         | $$__  $$| $$  | $$| $$  $$$$   | $$   
| $$  \ $$| $$  | $$| $$  | $$ /$$  \ $$   | $$         | $$  | $$| $$  | $$| $$\  $$$   | $$   
|  $$$$$$/| $$  | $$|  $$$$$$/|  $$$$$$/   | $$         | $$  | $$|  $$$$$$/| $$ \  $$   | $$   
 \______/ |__/  |__/ \______/  \______/    |__/         |__/  |__/ \______/ |__/  \__/   |__/   
                                                                                                
                  </p>
                </div>
                <div class="input-section">
                  <form>
                    <div class="command-line-terminal">
                      <div class="terminal-prompt">ghost-hunter@terminal:~$ </div>
                      <div><input type="text" id="input-field" autofocus></div>
        
                      <div id="cursor">
                    </div>
                    <button type="submit">Submit</button>
                  </form>
                </div>
              </div>
        </div>
      </div>
     
    </main>
    
  </body>
</html>
