<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Terminal Emulator</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style3.css') }}">
</head>
<body>
  <div id="terminal">
    <div id="output">
    </div>
    <div id="terminal-output"></div>
    <div id="input">
        <div id="terminal-input">ghost-hunter@terminal:~$&nbsp;<input id="command-line" type="text"></div>
        <button id="submit" type="submit">Submit</button>
    </div>
  </div>
  <script src="{{url_for('static', filename='scripts/script2.js')}}"></script>
</body>
</html>
